body {
    font-family: Arial, sans-serif;
    background-image: url(../images/background.png);
    padding: 165px;

  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(62, 81, 96);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: white;

  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group input[type="submit"] {
    background-color: #2a2c2d;
    color: white;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #1f81c6;
  }